﻿@model IEnumerable<WEEIAMap.Models.Location>
  
@{ 
    string actionUrl = Url.Action("FillClassNames", "Home");
}
<nav class="navbar navbar-light bg-primary navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="glyphicon glyphicon-arrow-down "></span>
            </button>
            <a class="navbar-brand" href="~/Home/Index" style="padding: 9px">
                <img src="~/Content/Images/weeia_logo.png" width="83" height="30" class="d-inline-block align-top" alt="">
            </a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <form class="navbar-form navbar-left" role="search" method="get" action="~/Home/MapDemo">
                <div class="form-group">
                    <label for="locationFor">Start</label>
                    <select class="form-control" id="locationFrom" name="locationFrom" onchange="locationFromChanged()">
                        @foreach (var location in Model)
                        {
                            if (location.FloorNum == 0)
                            {
                                <option class="location-option" data-dest="from" value="@location.LocationId">@location.InstituteName - parter</option>
                            }
                            else
                            {
                                <option class="location-option" data-dest="from" value="@location.LocationId">@location.InstituteName - @location.FloorNum piętro</option>
                            }
                        }
                    </select>
                    <select class="form-control" id="classNoFrom" name="classNoFrom">
                        @foreach (var classPoint in Model.ElementAt(0).Points)
                        {
                            if (classPoint.Name != "--")
                            {
                                <option value="@classPoint.Name">@classPoint.Name</option>
                            }
                        }
                    </select>
                    <label for="locationFor">Cel</label>
                    <select class="form-control" id="locationTo" name="locationTo" onchange="locationToChanged()">
                        @foreach (var location in Model)
                        {
                            if (location.FloorNum == 0)
                            {
                                <option value="@location.LocationId">@location.InstituteName - parter</option>
                            }
                            else
                            {
                                <option value="@location.LocationId">@location.InstituteName - @location.FloorNum piętro</option>
                            }
                        }
                    </select>
                    <select class="form-control" id="classNoTo" name="classNoTo">
                        @foreach (var classPoint in Model.ElementAt(0).Points)
                        {
                            if (classPoint.Name != "--")
                            {
                                <option value="@classPoint.Name">@classPoint.Name</option>
                            }
                        }
                    </select>
                </div>
                <button type="submit" id="ShowPathButton" class="btn btn-default">Pokaż trasę</button>
            </form>
        </div>
    </div>
</nav>

<script>
    function locationFromChanged() {
        var locationId = $("#locationFrom").val();
        $.ajax({
            method: "POST",
            url: '@actionUrl',
            data: { locationId: locationId }
        }).done(function (response) {
            $("#classNoFrom").html(response);
        })
    }

    function locationToChanged() {
        var locationId = $("#locationTo").val();
        $.ajax({
            method: "POST",
            url: '@actionUrl',
            data: { locationId: locationId }
        }).done(function (response) {
            $("#classNoTo").html(response);
        })
    }
</script>
