﻿@{
    ViewBag.Title = "Index";
}

<div id="map-container">
    <div id="mapid"></div>
</div>
<script src="~/Scripts/home.js?@DateTime.Now.Ticks" type="text/javascript"></script>
<script>
    DrawMainMap();
</script>


