﻿@model WEEIAMap.Models.PathPoint

@{
    ViewBag.Title = "Point";
    WEEIAMap.Models.Map map = (WEEIAMap.Models.Map)ViewData["Map"];
}
<div id="map-container">
    <div id="mapid" data-map-x="@map.X" data-map-y="@map.Y"></div>
</div>
<script src="~/Scripts/map.js?@DateTime.Now.Ticks"></script>
<script>
    var object = @(Html.Raw(Json.Encode(Model)));
    DrawPoint(@map.X, @map.Y, object, "@Url.Content(map.ImagePath)");
</script>
