﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

@media (min-width: 1210px) and (max-width: 1000px) {
    .collapse {
        display: none !important;
    }
}
/* Set padding to keep content from hitting the edges */
.body-content {
    /*padding-left: 15px;*/
    /*padding-right: 15px;*/
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.img-map{
    /*background-image: url(./Images/world_map.png);*/
}

.dot{
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 10px;
    position: absolute;
    z-index: 1000;
}

#mapid{
    height: inherit;
}

#map-container{
    height: 90vh;
}



